@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <h2>დაგვიკავშირდით</h2>
    <p>ჩვენ მოხარული ვიქნებით გიპასუხოთ ნებისმიერ კითხვაზე. შეავსეთ ფორმა და 1 სამუშაო დღის მანძილზე მიიღებს პასუხს.</p>
    <form action="#" method="POST">
        <div class="form-group">
            <label for="name">სახელი:</label>
            <input type="text" class="form-control" id="name" placeholder="თქვენი სახელი" required>
        </div>
        <div class="form-group mt-2">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="თქვენი Email" required>
        </div>
        <div class="form-group mt-2">
            <label for="message">შეტყობინება:</label>
            <textarea class="form-control" id="message" rows="5" placeholder="შეტყობინება" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-1">გაგზავნა</button>
    </form>
</div>